.about-sec{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 0px auto;
    transition: box-shadow 0.3s ease;
}
.about-sec:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.about-sec h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
@media (max-width: 768px){
  .about-sec {
    padding: 15px;
  }
   .about-sec h2 {
        font-size: 1.5rem;
   }
}
.about-sec p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: left;
}