.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  background-color: #d8d5d5;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.contact-form h2 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #666464;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #555;
  color: #fff;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #bbb;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid #00bcd4;
  background-color: #444;
}

.contact-form button {
  background-color: #00bcd4;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0097a7;
}

.contact-form p {
  margin: 5px 0;
}
